services:
  deye-feyree-control:
    build: .
    container_name: deye-feyree-control
    restart: unless-stopped
    network_mode: host
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
